.containerMainContent {
  display: grid;

  grid-column-gap: 40px;
  grid-row-gap: 40px;

  h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 52px;
    margin: unset;
  }
  h2 {
    font-weight: unset;
    margin: unset;
  }
}
