@import '../../../node_modules/rfs/scss';

$gap: 60px;

.containerMainContent {
  display: grid;

  grid-column-gap: $gap;
  grid-row-gap: $gap;
  font-family: 'Kanit', sans-serif;
  h1 {
    margin: unset;
    @include font-size(4rem);
  }
  #mainALink {
    font-size: 24px;
    margin: unset;
    line-height: 30px;
    font-weight: 400;
    &:hover {
      color: black;
    }
  }
  h2 {
    font-weight: unset;
    margin: unset;
    a {
      text-decoration: underline;
    }
  }
  h3 {
    font-weight: 1;
    color: #493c3c;
  }
  p {
    color: #72777c;
    font-size: 16px;
  }

  #ViewRecipeALink {
    text-decoration: underline;
    color: #303336;
    &:hover {
      color: #656c74;
    }
  }
}
