@import '../../node_modules/include-media/dist/include-media';
@import '../../node_modules/rfs/scss';
$breakpoints: (
  phone: 320px,
  phone2: 500px,
  phone3: 650px,
  tablet: 768px,
  desktop: 1024px,
);

@include media('>phone3') {
  .container {
    max-width: 1248px;

    padding: 0 1em;

    #navBarSmall {
      display: none;
    }
    #fullMenu {
      display: flex;
    }
    .containerMainContent {
      grid-template-columns: repeat(2, 1fr) !important;
      h2 {
        padding-top: 5px;
      }
    }
  }
}

@include media('<phone3') {
  #fullMenu {
    display: none !important;
  }
}
