@use 'colors';
@import '../../node_modules/rfs/scss';

body {
  margin: unset;
  font-family: 'Lato', sans-serif;
  background-color: colors.$backgroundColor;
  color: colors.$mainFontColor;
}
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: unset;

  &:hover {
    color: colors.$menuHover;
  }
}

.container {
  margin: 0 auto;
}

.containerPadding {
  @include padding-top(5rem);
  @include padding-right(1rem);
  @include padding-bottom(5rem);
  @include padding-left(1rem);
}

.containerMainContent {
  @extend .containerPadding;
}

button {
  all: unset;
}
